# Configuration files
.github @kevalmorabia97 @RalphMao
.gitlab @kevalmorabia97 @RalphMao
.pre-commit-config.yaml @kevalmorabia97 @RalphMao
CONTRIBUTING.md @kevalmorabia97 @RalphMao
LICENSE @kevalmorabia97 @RalphMao
pyproject.toml @kevalmorabia97 @RalphMao
SECURITY.md @kevalmorabia97 @RalphMao
setup.py @kevalmorabia97 @RalphMao
tox.ini @kevalmorabia97 @RalphMao
