bitsandbytes
datasets>=2.14.4
fire
git+https://github.com/Dao-AILab/flash-attention.git#subdirectory=csrc/rotary
pynvml>=11.5.0
rouge_score>=0.1.2
tiktoken
transformers>=4.43.3
transformers_stream_generator
zstandard
