--extra-index-url=https://download.pytorch.org/whl/cu128
accelerate
datasets==2.19.0
evaluate
jiwer
librosa
onnx==1.17.0
onnxruntime-gpu==1.20.1
optimum==1.23.3
soundfile
torch==2.7.0+cu128
torchaudio==2.7.0+cu128
transformers==4.48.0
